.hdr-icon {
  width: 50px;
}

/*  This stuff is for packery, which is used for the wall of fame.*/
.item {
  width: 10%;
  border: black solid 1px;
  /*border-radius: 6px;*/
}
.item.w2 {
  width: 20%;
}
.item.w3 {
  width: 30%;
}

.current h2 {
  text-align: center;
}

.current hr {
  margin: 0px;
}

.current .row {
  padding-top: 10px;
}

.current-highlight {
  background-color: #F3FAFF;
}